{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
      <div id="centrarIndex">
          {$img}
      </div>
    <br>
    {$ex->getMessage()} <br>
     {$language->translate('code')} {$ex->getCode()}
    <pre>{$ex}</pre>
     
</div>
{include file="template/footer.tpl" title="footer"}