{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    Estamos en el index
    <br>
    Método: {$method}
    <br>
    Administrador:
    user: admin ,
    password: 123
    <br>
    Usuario Normal:
    user: victor ,
    password: 123
 </div>
{include file="template/footer.tpl" title="footer"}