{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>    
     <form action="{$url}{$lang}/login/access" method="post">
         <label><h1>Login:</h1></label><br>
        <label>{$language->translate('name')}</label><input type="text" name="name"><br>     
        <label>{$language->translate('password')}</label><input type="password" name="password"><br>
        <label></label><input type="submit" value="Enviar">
        <br>
        <br>
        <br>
    </form>
 </div>
{include file="template/footer.tpl" title="footer"}