{include file="template/header.tpl" title="encabezado"}
<div id="content">   
    <div id="centrarIndex">
        <h1>{$language->translate('noPedido1')}</h1>        
       <img src="http://localhost/Proyectotienda/img/exclamacion.png">
        <h1>{$language->translate('noPedido2')}</h1>
        <h1>{$language->translate('noPedido3')}</h1>
    </div>
 </div>
{include file="template/footer.tpl" title="footer"}