{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>{$alta}</h2>
    
    <form action="{$url}{$lang}/user/insert" method="post">
        <label>{$name}</label><input type="text" name="name"><br>               
         <input type="hidden" name="idRole" value="2">        
        <label>{$password}</label><input type="password" name="password">
         <span class="error">{$language->translate($error.password)}</span> <br>
        <label></label><input type="submit" value="Enviar">
    </form>
        
    <h1>{$repetido}</h1>

 </div>
{include file="template/footer.tpl" title="footer"}