{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>{$edicion} {$row.nombre}</h2>
    
    <form action="{$url}{$lang}/user/update" method="post">
        <input type="hidden" name="id" value="{$row.id}">
        <input type="hidden" name="name" value="{$row.nombre}">
        <input type="hidden" name="idRole" value="2"> 
        <label>{$nuevoPass}</label><input type="password" name="password"> 
        <br>
        <label></label><input type="submit" value="Enviar">
    </form>
        
 </div>
{include file="template/footer.tpl" title="footer"}